<section id="benefits" class="benefits section">
  <div class="container">
    <h2 class="title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <h3 class="benefits-title">Offline Play</h3>
        <p class="benefits-text">
          Enjoy sorting puzzles anywhere, even without an internet connection
        </p>
        <svg class="benefits-icon" width="144" height="144">
          <use href="./img/sprite.svg#icon-cloud"></use>
        </svg>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-title">Colorful Graphics</h3>
        <p class="benefits-text">
          Visually appealing designs and bright colors make sorting even more
          enjoyable
        </p>
        <svg class="benefits-icon" width="144" height="144" style="left: 0">
          <use href="./img/sprite.svg#icon-colors"></use>
        </svg>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-title">Progressive Challenges</h3>
        <p class="benefits-text">
          Each level adds a new layer of difficulty to keep gameplay interesting
          and rewarding
        </p>
        <svg class="benefits-icon" width="144" height="144">
          <use href="./img/sprite.svg#icon-progression"></use>
        </svg>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-title">Frequent Updates</h3>
        <p class="benefits-text">
          Regularly updated with new levels and features to enhance gameplay
        </p>
        <svg class="benefits-icon" width="144" height="144" style="left: 0">
          <use href="./img/sprite.svg#icon-tips"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
