<footer id="faq" class="section">
  <div class="container footer-container">
    <div class="footer-text">
      <div class="footer-links">
        <a
          href="../privacy-policy-page.html"
          target="_blank"
          class="footer-privecy"
          >Privacy Policy
        </a>
        <span> / </span>
        <a
          href="../privacy-policy-page.html"
          target="_blank"
          class="footer-term"
          >Terms and Conditions</a
        >
      </div>
      <div class="footer-luck">
        <a class="footer-luck"
          >©2024 LuckyQuestProHub.com, All rights reserved.</a
        >
      </div>
    </div>
  </div>
</footer>
