<section id="gallery">
  <div class="container">
    <!-- ... -->
    <a href="../privacy-policy-page.html">privacy</a>
    <a href="../terms-and-conditions.html">terms</a>
    <h2 class="title">Gallery</h2>
    <div class="wrap">
      <div class="gallery-swiper-button-prev">
        <svg class="reviews-icon gallery-icon-prev" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </div>
      <div class="swiper gallery-swiper">
        <ul class="gallery-list swiper-wrapper"></ul>
      </div>
      <div class="gallery-swiper-button-next">
        <svg class="reviews-icon gallery-icon-next" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
