<section id="hero">
  <div class="container hero-container">
    <div class="hero-title">
      <h1 class="hero-title-gen">
        Nuts & Bolts Sort Puzzle
      </h1>
      <p class="hero-title-text">
        Sort, Stack, and Solve the Puzzle of Nuts and Bolts!
      </p>
    </div>
   <div class='hero-btn'>
    <div class="hero-img">
      <picture>
        <source
        media="(min-width: 768px)"
        type="image/png"
      />
    
      <source
        media="(max-width: 767px)"
        srcset="../img/webp/hero-1x.png 1x, ../img/webp/hero-2x.png 2x"
        type="image/png"
      />
      <img
        src="../img/webp/hero-1x.png"
        alt="picture"
        class="hero-picture"
        loading="lazy"/>
      </picture></div>
      <div class="hero-google">
      <picture>
        <source
        media="(min-width: 768px)"
        type="image/png"
      />
    
      <source
        media="(max-width: 767px)"
        srcset="../img/webp/Badge-1x.png 1x, ../img/webp/Badge-2x.png  2x"
        type="image/png"
      />
      <img
        src="../img/webp/Badge-1x.png"
        alt="picture"
        class="hero-picture-google"
        loading="lazy"/>
      </picture></div>
      
    
  </div>
</section>
