.benefits-title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 8px;
}
.benefits-text {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  @media only screen and (min-width: 1200px){
    font-size: 24px;
  }
}
.title{
  @media screen and (min-width:1200px){
    margin-bottom: 42px;
  }
}
.benefits-list {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  @media only screen and (min-width: 1200px) {
    width: 1116px;
    height: 414px;
    flex-wrap: wrap;
    gap:42px 196px;
    

  }
}
.benefits-item {
  position: relative;
  padding: 20px 0;
  text-align: center;
  @media only screen and (min-width: 1200px) {
    width: 460px;
  }
}

.benefits-text {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  @media only screen and (min-width: 1200px){
    font-size: 24px;
  }
}
.benefits-icon {
  fill: rgba(255, 255, 255, 0.16);
  position: absolute;
  top: 0;
}

.benefits {
  padding-bottom: 18px;
  margin-bottom: 64px;
  @media only screen and (min-width: 1200px) {
    margin-bottom: 80px;
    padding-bottom: 0px;
  }
}
