.faq-container {
  width: 288px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.faq-title {
  margin-bottom: 24px;
  text-align: center;
}
.faq-list {
  display: flex;
  gap: 16px;
}

.faq-list-item {
  position: relative;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 8px;
  background: #ffbd00;
  font-size: 16px;
  font-family: 'Kanit', serif;
  font-weight: 400;
  font-style: normal;
  color: #282828;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.faq-icon {
  position: absolute;
  top: 25%;
  right: 2%;
}
.faq-answer {
  font-size: 24px;
  display: none;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.faq-list-item.open .faq-answer {
  display: block;
}

.faq-list-item.open .faq-icon {
  transform: rotate(180deg);
  transition: var(--transition);
}

@media (min-width: 1200px) {
  .faq-container {
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .faq-title {
    width: 928px;
    height: 63px;
    text-align: center;
    margin-bottom: 42px;
font-size: 42px;
    font-family: 'Kanit', serif;
    font-weight: 400;
    font-style: normal;
 
  }
  .faq-list {

    display: inline;
    width: 928px;
  }
  .faq-list-item{
    padding: 17.5px;
    font-size: 24px;
    font-family: 'Kanit', serif;
    font-weight: 400;
    font-style: normal;
  }

}
