.faq-container{
    width: 288px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;


}

.faq-title{
    margin-bottom: 24px;
    text-align: center;
}
.faq-list{
    display: flex;
    gap:16px;

}


.faq-list-item{
    margin-bottom: 16px ;
    padding: 8px;
border-radius: 8px;
background: #FFBD00;
color:   #282828;
display: flex;
align-items: center;
justify-content: space-between;
}

@media (min-width:1200px) {
    .faq-container{
        width: 928px;
    text-align: center;

}
    .faq-title{
        
        margin-bottom: 42px;
        font-family: "Kanit", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 42px;
    }
    .faq-list{
        display: inline;
    }
}