.header_container {
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  background-color: #1d004280;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
.header-nav-list {
  display: none;
}
.header_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-burger {
  border: none;
  background-color: transparent;
}
.header-logo {
  width: 32px;
  height: 32px;
}

.burger-svg {
  fill: azure;
}
/* Mobile menu styles */

.menu-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0px;
  z-index: 1000;
  padding: 30px 20px;
  background-color: rgba(18, 18, 18, 0.4);
  transition: opacity 0.3s ease, visibility 0.3s ease;

  /* Черный фон с прозрачностью */
  /* Скрыто по умолчанию */
  /* background:     rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0; */
}

.menu-overlay.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.menu {
  margin-top: 27px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 8px;
  flex-direction: column;
  color: #282828;
}

.menu li:hover,
.menu li:active {
  background-color: var(--yellow);
  transition: var(--transition);
}
.menu li {
  width: 162px;
  height: 44px;
  background-color: #eaeaea;
  padding: 10px;
  font-size: 16px;
  border-radius: 16px;
  text-align: center;
  color: #282828;
}

.menu a {
  text-decoration: none;
}

.close-menu {
  margin-bottom: 10px;
  transform: rotate(90deg);
  transition: var(--transition);
  position: absolute;
  z-index: 1001;
  top: 10px;
  right: 12px;
  background-color: transparent;
  border: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 1200px) {
  .header_container {
    width: 100%;
    margin: 0 auto;
    padding: 0 42px;
  }
  .header-burger {
    display: none;
  }
  .header-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 24px;
    gap: 20px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .menu-overlay {
    display: none;
  }
  .header-logo {
    width: 86px;
    height: 86px;
  }
  .header-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 340px;
    padding: 20px 0;
  }
}
