.header_container{
width: 288px;

}
.header-nav-list{
    display: none;

}
.header_icons{

    display: flex;
    align-items: center;
    justify-content: space-between;


}
.header-burger{
    
    border: none;
    background-color: transparent;

}
.header-logo{
    width: 32px;
    height: 32px;
}

.burger-svg{
    fill: azure;
   
}
/* Mobile menu styles */

 .menu-overlay {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
   
  /* Черный фон с прозрачностью */
    /* Скрыто по умолчанию */
    /* background:     rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden;
    opacity: 0; */
}

.menu-overlay.is-hidden {
    visibility: hidden;
    opacity: 1;
}

.menu {
    margin-top: auto;
    width: 162px;
    height: 44px;
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    gap:8px;
    flex-direction: column;
    color: #282828;

    
}

.menu li {
    
    background-color:#EAEAEA;
    padding: 10px 55.5px;
    font-size: 16px;
    border-radius: 16px
    ;
    text-align: center;
    color: #282828;
    ;
}

.menu a {
   
    text-decoration: none;
  
}

.close-menu {
    position: absolute;
    top: 32px;
    right: 32px;
    background-color: transparent;
    border: none;
    
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
}   

@media (min-width:1200px) {
    .header_container{
        width: 100%;
        margin: 0 auto;
        padding-left: 42px;
        padding-right: 42px;
    }
    .header-burger{
        display:none;

    }
    .header-nav-list{
       margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        font-size: 24px;
        gap:20px;
        font-family: "ABeeZee", sans-serif;
        font-weight: 400;
        font-style: normal;
      
    }
    .menu-overlay{
        display: none;
    }
    .header-logo{
        width: 86px;
        height: 86px;
    }
    .header-nav{
        display: flex;
        align-items: start;
        justify-content: center;
        gap:340px;
        margin-top: 21px;

    }
}