
.hero-container{
margin-top: 32px;
padding-left: 16px;
}
.hero-title{
    text-align: center;
    margin-bottom:24px;

}
.hero-title-gen{

}
.hero-title-text{

}
.hero-img{
   display: flex;

   text-align: center;
   justify-content: center;

}
.hero-picture{
    width: 116px;

}
.hero-google{
    margin-top: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
}

@media (min-width:1200px) {
    .hero-container{
        max-width: 1004px;
        display: grid;
        grid-template-columns: 1fr 1fr;
     /* padding-left:98px ;
     padding-right: 98px; */

    }
    .hero-title{
        margin-right: px;
        margin-top: 90.5px;
        text-align: start;
        font-family: 'Kanit', sans-serif;
        
    }
    .hero-title-text{
        font-size: 36px;
        font-family: 'Kanit', sans-serif;
    }
    .hero-title-gen{
        font-size: 54px;
        font-family: 'Kanit', sans-serif;
    }

    .hero-btn{
        
        /* display:flex ;
       justify-content:left; */
     
    }
    .hero-google{
        
  
   margin: 0;
    /* align-items: end;
    justify-content: center; */


    }
    .hero-img{
        min-width: 212px;
        max-height:448px;
        
    }
    .hero-picture{
        width:212px;
    }
    .hero-picture-google{
        width: 236px;
    }
}
