.reviews-swiper {
  width: 900px;
  padding: 0 42px;
}

.reviews {
  margin-bottom: 64px;
  @media only screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}

.reviews-item {
  overflow: hidden;
  height: 153px;
  min-height: 153px;
  border-radius: 8px;
  padding: 12px;
  background: var(--yellow);
  @media screen and (min-width: 1200px) {
    width: 412px;
    height: 224px;
    min-height: 224px;
    padding: 26px;
  }
}

.reviews-item span {
  font-family: '', sans-serif;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -4px;
  color: #282828;
  position: absolute;
  top: -44px;
  left: 22px;
  z-index: 99;
  @media screen and (min-width: 1200px) {
    right: 36px;
    top: -56px;
    font-weight: 800;
    font-size: 30px;
  }
}
.reviews-item h3 {
  font-weight: 500;
  color: #282828;
  margin-bottom: 14px;
  text-align: center;
  font-size: 24px;
  @media screen and (min-width: 1000px) {
    font-size: 24px;
  }
}

.reviews-item p {
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #020202;
  overflow: hidden;
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }
}

.reviews-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  user-select: none;
}

.reviews-btn-accent:hover,
.reviews-btn-accent:focus {
  transition: var(--transition);
  background-color: var(--yellow);
}

.reviews-icon {
  border: transparent;
  outline: transparent;
  fill: var(--text);
}

.reviews-swiper-button-next {
  display: none;
  @media only screen and (min-width: 1200px) {
    display: flex;
    height: 200px;
    align-items: center;
    padding: 0 40px;
    fill: var(--text);
    transform: rotate(180deg);
    cursor: pointer;
  }
}
.reviews-swiper-button-prev {
  display: none;
  @media only screen and (min-width: 1200px) {
    display: flex;
    height: 200px;
    align-items: center;
    padding: 0 40px;
    fill: var(--text);
    cursor: pointer;
  }
}
